#page-title {
	padding: 1em 5em;
	background: #ccc;
}
#page-title h1 {
	font-weight: bold;
	font-size: 5em;
	font-family: microsoft yahei;
}
#page-title h2 {
	text-indent: 2em;
	color: #666;
	font-size: 2em;
	font-family: microsoft yahei;
}

footer {
	color: #ccc;
	padding: 0.5em 4em;
	background-color: #101010;
	font-size: 1em;
	font-style: italic;
}
